.grid {
    background-image: url(../img/Re_Bob_Omba_Star_Rush.webp);
    background-repeat: no-repeat;
    background-size: 90%;
}

nav {
    background-image: url(../img/sc88xw.jpg);
    background-size: contain;
}

footer {
    background-image: url(../img/sc88xw\ \(2\).jpg);
    background-size: contain;
}