/* general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Josefin Sans", sans-serif;
  overflow-y: hidden;
}

body{
    background-color: #7FFFD4;
}

p {
  margin-bottom: 0;
  font-size: 1.2em;
}

nav,
footer {
  height: 60px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

nav {
    top: 0;
}

footer {
    bottom: 0;
}

/* grid container */
.grid {
  width: 700px;
  height: 700px;
  margin: 30px auto;
  
}
.playcell {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-style: inset;
  border: 1px solid white;
  cursor: pointer;
}
/* utility  */

.cell-size100{
    width: calc(100% / 10);
    height: calc(100% / 10);
}
.cell-size81{
    width: calc(100% / 9);
    height: calc(100% / 9);
}
.cell-size49{ 
    width: calc(100% / 7);
    height: calc(100% / 7);
}

.press {
    background-color: aqua;
}

.press_none {
    background-image: url(../img/1570429633bomb.svg);
    background-size: cover;
}
.opacity-transition {
    animation: opacity 1s linear;
    animation: scale 1s linear;
}

@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
